/*<<<<<<< HEAD*/
/*!*body {*!*/
/*!*    background-color: skyblue;*!*/
/*!*}*!*/
/*=======*/
/*body {*/
/*    background-color: white;*/
/*}*/
/*>>>>>>> register/login*/


.navbar-brand, .nav-link {
    font-family: 'Playfair Display', serif;
}
