 {% extends 'base.html.twig' %} 


{% block body %}
<div class="container-fluid">
<div class="row mt-5"> </div>
<div class="row"> 
<div class="col-2"> </div>

<div class="col-8"> 
<h1 class="text-center mt-5 ">Over ons</h1>

            <p class="text-center mt-5 fs-4" style="font-family: 'Inter', Arial, sans-serif;">
                Welkom bij <b>LULA HAIRZ</b>, jouw beste bestemming voor hoogwaardige haar, pruiken en 
                <a href="#" class="fw-bold text-decoration-underline" style="color: inherit;">extensions</a>! 
                Wij zijn gepassioneerd om je te helpen jouw unieke stijl te uiten met onze diverse selectie van 100% echt haar en synthetische producten. 
                Ons deskundige team staat klaar om je persoonlijke service te bieden, zodat je de perfecte look voor elke gelegenheid vindt. 
                Ontdek de transformerende kracht van mooi haar bij LULA HAIRZ en laat jouw vertrouwen stralen!
            </p>
            <div class="w-100 d-flex justify-content-center mt-4">
        <a href="#" class="btn btn-lg fw-bold"
           style="background-color: #F5B9A5; color: #fff; font-size: 2.5rem; border-radius: 24px;">
            MAAK EEN AFSPRAAK
        </a>
        </div>
    </div>
<div class="col-2"> </div>   
</div>
</div>
{% endblock %}
